*{
    margin: 0;
    padding: 0;

}

body{

    font-family: helvetica;
    background: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
    color: azure;
}

main{
    border: 1px solid black;
    width: 730px;
    margin: 80px auto 40px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
    padding-bottom: 1.5rem;
}

h2{
    font-size: 20px;
    color: white;
}

button{
    height: 130px;
    width: 130px;
    margin: .5rem;
    font-size: 40px;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    
}

button:hover{
    cursor: pointer;
}

.section2{
    background-color: rgba(255, 255, 255, 0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 270px;
    height: 400px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 20px 15px;
    box-sizing: border-box;
}

footer{
    text-align: center;
    text-decoration: none;
    margin-top: 1rem;
}

#resultado{
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
}

#mensaje{
    text-align: center;
    font-size: 1.5rem;
    padding: .5rem;
}

img{
    width: 80%;
}



