*{
    margin: 0;
    padding: 0;

}

body{

    font-family: helvetica;
    background-color: #579BB1;
}

main{
    border: 1px solid black;
    width: 730px;
    margin: 80px auto 40px;
    display: flex;
    align-items: center;
}

.section1{
    background-color: #277BC0;
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}

h1{
    text-align: center;
    padding-bottom: 3rem;
}

h2{
    font-size: 20px;
    color: white;
}

button{
    height: 100px;
    width: 100px;
    margin: .5rem;
    text-align: center;
    font-size: 40px;
    color: black;
    font-weight: bold;
    border-radius: 15px;
    background-color: #E1D7C6;
}

button:hover{
    cursor: pointer;
}

.section2{
    background-color: #FF8787;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    width: 270px;
    height: 400px;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 20px 15px;
    box-sizing: border-box;
}

footer{
    text-align: center;
    text-decoration: none;
    margin-top: 5rem;
}